.statisticsContainer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: var(--text-color);
    margin-bottom: 20px;
    grid-column: span 1;
    
}

.statisticHeader {
    color: var(--quinary-color);
}

.statisticData {
    font-size: 14px;
    color: var(--text-color);
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
}

.numberContainer {
    align-self: center;
    background-color: var(--primary-color); 
    padding: 0px 10px; 
    display: inline-block;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    font-size: 13px; 
    color: var(--text-color);
    font-weight: bold; 
    text-align: center; 
  }
  