
.actionsContainer {
    display: flex;
    justify-content: right ;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .actionsContainer.visible {
    opacity: 1;
  }
  
  .moveBtn, .deleteBtn, .recycleBtn, .deleteBtnDeletedBoard, .recycleBtnDeletedBoard {
    cursor: pointer;
    border: none;
    background-color: var(--secundary-color);
    padding: 0px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .deleteBtnDeletedBoard, .recycleBtnDeletedBoard {
    opacity: 1;
  }
  
  .moveBtn:hover, .deleteBtn:hover, .recycleBtn:hover, .deleteBtnDeletedBoard:hover, .recycleBtnDeletedBoard:hover{
    background-color: #e0e0e0;
  }
  .deleteBtn img,
  .recycleBtn img,
  .deleteBtnDeletedBoard img,
  .recycleBtnDeletedBoard img{
    width: 16px;
    height: 16px;
  }
  