.horizontalSection {
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center; 
    gap: 5px; 
    flex-grow: 1; 
    height: 10%; 
    background-color: var(--secondary-color);
    margin-bottom: 5px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .searchAndStats{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center; 
  }
  .searchInput{
    padding: 4px 10px; 
    font-size: 13px; 
    border: none;
    outline: none; 
    width: 55%; 
    margin: 0 0 0px 0; 
    box-sizing: border-box;
    border-radius: 8px; 
    background-color: var(--primary-color); 
    color: var(--text-color);
  }

  @media (max-width: 768px) {
    .horizontalSection {
        flex-direction: column; 
        height: auto; 
    }
  } 