
.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.categoryCard {
    background-color: var(--quaternary-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryInput {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.categoryInput:focus {
    border-color: #007bff;
}


.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton img {
    width: 20px; 
    height: 20px;
    transition: opacity 0.3s ease;
}

.deleteButton:hover img {
    opacity: 0.7;
}


.addCategoryContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.addCategoryInput {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
}

.addButton {
    background-color: var(--quaternary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color:var(--primary-color);
}
