.configurationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 2px solid var(--quaternary-color);
    margin: 0px 10px;
    
  }
  
  .inputField {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .updateButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--quaternary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .updateButton:hover {
    background-color: var(--teritiary-color);;
  }
  
  p {
    margin-top: 10px;
  }
  