.userCard {
    cursor: pointer;
    border-radius: 10px;
    list-style-type: none; 
    background-color: var(--quinary-color);
    padding: 0px;
    overflow: hidden;
    margin: 5px auto;
    width: 90%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.userCard h3 {
    margin: 0px 8px; 
    word-wrap: break-word;
}


.cardBanner {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px; 
    display: flex; 
    align-items: center; 
    background-color: var(--quaternary-color);
    color: var(--text-color2);
}


.cardBannerInactive {
    background-color: #d9534f; 
}


.userPhotoDiv{
    background-color: #accae9;
    width: 32px;
    height: 32px;
    border: 0px;
    padding: 0px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: baseline; 
}

.userPhoto {
    width: 32px;
    height: auto;
    border-radius: 25px;
}

.userRoleDiv{
    margin-left: 20px;
}



.cardBody {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userProfileBTN {
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    padding: 0px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .userProfileBTN:hover{
    background-color: #e0e0e0;
  }
  .userProfileBTN img {
    width: 16px;
    height: 16px;
  }
  .actionButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.profileButton, .chatButton {
    border: none;
    background: none;
    cursor: pointer;
}

.chatButton img, .profileButton img {
    width: 24px;  
    height: 24px;  
}